{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}

<div class="row row-cols-5 row-cols-sm-5 row-cols-md-3 g-3 ">
    <div class="container px-3 py-3">
      <div class="col">
        <div class="card shadow-sm">
            <img src={{ blog.preview | mymedia}}>
          </svg>
          <div class="card-body">
            <h5 class="card text-center"> {{ object.title }} {{ object.slug }}</h5>
            <p class="card-text"> Содержание: {{ object.content }}</p>
            <p class="card-text"> Категория товара: {{ object.category }}</p>
            <p class="card-text"> Цена: {{ object.price_per_purchase }} руб.</p>
            <p class="card-text"> Время добавления: {{ object.created_at }} </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'catalog:blog'  %}" role="button"> Назад</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>

{% endblock %}